<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="clienteForm" (submit)="onSubmit()">
    <ion-item>
      <ion-icon name="person" slot="start" color="primary"></ion-icon>
      <ion-input
        type="text"
        placeholder="Nome"
        autofocus="true"
        inputmode="text"
        formControlName="nome"
      >
      </ion-input>
    </ion-item>
    <!--Celular-->
    <ion-item>
      <ion-icon name="logo-whatsapp" slot="start" color="primary"></ion-icon>
      <ion-input
        type="text"
        placeholder="Celular"
        autofocus="true"
        inputmode="text"
        formControlName="celular"
      >
      </ion-input>
    </ion-item>

    <!--endereco-->
    <ion-item>
      <ion-icon name="home" slot="start" color="primary"></ion-icon>
      <ion-input
        type="text"
        placeholder="Endereço"
        autofocus="true"
        inputmode="text"
        formControlName="endereco"
      >
      </ion-input>
    </ion-item>
    <!--Idade-->
    <ion-item>
      <ion-icon name="walk" slot="start" color="primary"></ion-icon>
      <ion-input
        type="text"
        placeholder="Idade"
        autofocus="true"
        inputmode="text"
        formControlName="idade"
      >
      </ion-input>
    </ion-item>
    <!--sexo-->
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One" formControlName="sexo">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="clienteForm.invalid">
      Save
    </ion-button>
  </form>
</ion-content>
