<ion-item-sliding #sliding>
  <ion-item (click)="update.emit(produto)">
    <ion-label>
      {{ produto.nome }}
      <p>Unidades: {{produto.quantidade}}</p>
    </ion-label>
    <ion-note
      color="success"
      slot="end"
      *ngIf="produto.precoVenda"
    >
      {{ produto.precoVenda | currency: 'BRL' }}
    </ion-note>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option
      color="danger"
      (click)="delete.emit(produto); sliding.close()"
    >
      <ion-icon
        slot="icon-only"
        name="trash"
      ></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="update.emit(produto); sliding.close()">
      <ion-icon
        slot="icon-only"
        name="create"
      ></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
