<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks/banners"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <app-logout-button
      slot="end"
      menu="main-menu"
    ></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form
    [formGroup]="bannerForm"
    (submit)="onSubmit()"
  >
    <ion-item>
      <ion-icon
        name="paper"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-input
        type="text"
        placeholder="Title"
        autofocus="true"
        inputmode="text"
        formControlName="title"
      >
      </ion-input>
      <ion-toggle
        *ngIf="bannerId"
        slot="end"
        color="primary"
        formControlName="done"
      >
      </ion-toggle>
    </ion-item>

    <!-- RA -->
    <ion-item>
      <ion-icon
        name="person"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-input
        type="number"
        placeholder="RA"
        autofocus="true"
        inputmode="text"
        formControlName="ra"
      >

      </ion-input>
    </ion-item>

    <!-- aluno -->
    <ion-item>
      <ion-icon
        name="person"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-input
        type="text"
        placeholder="Aluno"
        autofocus="true"
        inputmode="text"
        formControlName="aluno"
      >

      </ion-input>
    </ion-item>

    <!-- Professor orientador -->
    <ion-item>
      <ion-icon
        name="person"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-input
        type="text"
        placeholder="Professor Orientador"
        autofocus="true"
        inputmode="text"
        formControlName="proOrientador"
      >
      </ion-input>
    </ion-item>
    <!-- Nota1 -->
    <ion-item>
      <ion-icon
        name="book"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-input
        type="number"
        placeholder="Apresentação em sequencia logioca e postura do aluno"
        autofocus="true"
        inputmode="text"
        formControlName="nota1"
      >
      </ion-input>
    </ion-item>
    <!-- Nota2 -->
    <ion-item>
      <ion-icon
        name="book"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-input
        type="number"
        placeholder="Utilização do tempo"
        autofocus="true"
        inputmode="text"
        formControlName="nota2"
      >
      </ion-input>
    </ion-item>
    <!-- Nota3 -->
    <ion-item>
      <ion-icon
        name="book"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-input
        type="number"
        placeholder="Adequação do poster em relaçao aos projetos propostos"
        autofocus="true"
        inputmode="text"
        formControlName="nota3"
      >
      </ion-input>
    </ion-item>
    <!-- Nota4 -->
    <ion-item>
      <ion-icon
        name="book"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-input
        type="number"
        placeholder="Dominio do Assunto"
        autofocus="true"
        inputmode="text"
        formControlName="nota4"
      >
      </ion-input>
    </ion-item>
    <!-- Nota5 -->
    <ion-item>
      <ion-icon
        name="book"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-input
        type="number"
        placeholder="Conteudo cietifico e viabilidade do projeto"
        autofocus="true"
        inputmode="text"
        formControlName="nota5"
      >
      </ion-input>
    </ion-item>
    <!-- NotaFinal -->
    <ion-item>
      <ion-icon
        name="book"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-input
        type="number"
        placeholder="Media Final"
        autofocus="true"
        inputmode="text"
        formControlName="notaFinal"
      >
      </ion-input>
    </ion-item>

    <!-- Botoes -->
    <ion-button
      expand="full"
      type="submit"
      [disabled]="bannerForm.invalid"
    >
      Save
    </ion-button>
  </form>
</ion-content>
